{
  "openapi": "3.0.1",
  "info": {
    "title": "freee会計 API",
    "description": "\n<hr />\n<h2 id=\"start_guide\">スタートガイド</h2>\n\n<p>freee API開発がはじめての方は<a href=\"https://developer.freee.co.jp/getting-started\">freee API スタートガイド</a>を参照してください。</p>\n\n<hr />\n<h2 id=\"specification\">お知らせ</h2>\n\n<p>\n<b>インボイス制度に伴い、freee会計の帳票機能がfreee請求書に移行します。これに伴い、2023年10月にfreee会計の「請求書の作成、見積書の作成」エンドポイントは廃止、freee請求書APIに移行する予定です。詳細は<a href=\"https://developer.freee.co.jp/news/6369\" target=\"_blank\"> freee会計 APIの仕様変更（インボイス制度対応）について</a>をご確認ください。</b>\n</p>\n\n<h2 id=\"specification\">仕様</h2>\n\n<h3 id=\"api_endpoint\">APIエンドポイント</h3>\n\n<p>https://api.freee.co.jp/ (httpsのみ)</p>\n\n<h3 id=\"about_authorize\">認証について</h3>\n<p>OAuth2.0を利用します。<a href=\"https://developer.freee.co.jp/reference/#%e8%aa%8d%e8%a8%bc\" target=\"_blank\">詳細はリファレンスの認証に関する記載を参照してください。</a></p>\n\n<h3 id=\"data_format\">データフォーマット</h3>\n\n<p>リクエスト、レスポンスともにJSON形式をサポートしていますが、詳細は、API毎の説明欄（application/jsonなど）を確認してください。</p>\n\n<h3 id=\"compatibility\">後方互換性ありの変更</h3>\n\n<p>freeeでは、APIを改善していくために以下のような変更は後方互換性ありとして通知なく変更を入れることがあります。アプリケーション実装者は以下を踏まえて開発を行ってください。</p>\n\n<ul>\n<li>新しいAPIリソース・エンドポイントの追加</li>\n<li>既存のAPIに対して必須ではない新しいリクエストパラメータの追加</li>\n<li>既存のAPIレスポンスに対する新しいプロパティの追加</li>\n<li>既存のAPIレスポンスに対するプロパティの順番の入れ変え</li>\n<li>keyとなっているidやcodeの長さの変更（長くする）</li>\n<li>エラーメッセージの変更</li>\n</ul>\n\n<h3 id=\"common_response_header\">共通レスポンスヘッダー</h3>\n\n<p>すべてのAPIのレスポンスには以下のHTTPヘッダーが含まれます。</p>\n\n<ul>\n<li>\n<p>X-Freee-Request-ID</p>\n<ul>\n<li>各リクエスト毎に発行されるID</li>\n</ul>\n</li>\n</ul>\n\n<h3 id=\"common_error_response\">共通エラーレスポンス</h3>\n\n<ul>\n<li>\n<p>ステータスコードはレスポンス内のJSONに含まれる他、HTTPヘッダにも含まれる</p>\n</li>\n<li>\n<p>一部のエラーレスポンスにはエラーコードが含まれます。<br>詳細は、<a href=\"https://developer.freee.co.jp/tips/faq/40x-checkpoint\">HTTPステータスコード400台エラー時のチェックポイント</a>を参照してください</p>\n</li>\n<p>type</p>\n\n<ul>\n<li>status : HTTPステータスコードの説明</li>\n\n<li>validation : エラーの詳細の説明（開発者向け）</li>\n</ul>\n</li>\n</ul>\n\n<p>レスポンスの例</p>\n\n<pre><code>  {\n    &quot;status_code&quot; : 400,\n    &quot;errors&quot; : [\n      {\n        &quot;type&quot; : &quot;status&quot;,\n        &quot;messages&quot; : [&quot;不正なリクエストです。&quot;]\n      },\n      {\n        &quot;type&quot; : &quot;validation&quot;,\n        &quot;messages&quot; : [&quot;Date は不正な日付フォーマットです。入力例：2019-12-17&quot;]\n      }\n    ]\n  }</code></pre>\n\n</br>\n\n<h3 id=\"api_rate_limit\">API 使用制限</h3>\n\n  <p>freeeは一定期間に過度のアクセスを検知した場合、APIアクセスをコントロールする場合があります。</p>\n  <p>その際のhttp status codeは403となります。制限がかかってから10分程度が過ぎると再度使用することができるようになります。</p>\n\n<h4 id=\"reports_api_endpoint\">/reportsと/receipts/{id}/downloadエンドポイント</h4>\n\n<p>freeeはエンドポイント毎に一定頻度以上のアクセスを検知した場合、APIアクセスをコントロールする場合があります。その際のhttp status codeは429（too many requests）となります。</p>\n<ul>\n  <li>/reports:1秒に10回まで</li>\n  <li>/receipts/{id}/download:1秒に3回まで</li>\n</ul>\n\n<p>http status codeが429となった場合、API使用ステータスはレスポンスヘッダに付与されます。</p>\n<pre><code>x-ratelimit-limit:10\nx-ratelimit-remaining:1\nx-ratelimit-reset:2023-01-13T10:22:29+09:00\n</code></pre>\n\n<br> 各ヘッダの意味は次のとおりです。</p>\n\n<table border=\"1\">\n  <tbody>\n    <tr>\n      <th style=\"padding: 10px\"><strong>ヘッダ名</strong></th>\n      <th style=\"padding: 10px\"><strong>説明</strong></th>\n    </tr>\n    <tr><td style=\"padding: 10px\">x-ratelimit-limit</td><td style=\"padding: 10px\">使用回数の上限</td></tr>\n    <tr><td style=\"padding: 10px\">x-ratelimit-remaining</td><td style=\"padding: 10px\">残り使用回数</td></tr>\n    <tr><td style=\"padding: 10px\">x-ratelimit-reset</td><td style=\"padding: 10px\">使用回数がリセットされる時刻</td></tr>\n  </tbody>\n</table>\n\n</br>\n\n<h3 id=\"plan_api_rate_limit\">プランごとの API 使用制限</h3>\n  <table border=\"1\">\n    <tbody>\n      <tr>\n        <th style=\"padding: 10px\"><strong>freee会計プラン名</strong></th>\n        <th style=\"padding: 10px\"><strong>事業所とアプリケーション毎に、1日のAPIコール数の上限</strong></th>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px\">法人エンタープライズプラン</td>\n        <td style=\"padding: 10px\">10,000</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px\">法人アドバンスプラン（および旧法人プロフェッショナルプラン）</td>\n        <td style=\"padding: 10px\">5,000</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px\">上記以外</td>\n        <td style=\"padding: 10px\">3,000</td>\n      </tr>\n    </tbody>\n  </table>\n\n<h3 id=\"available_apis_by_plan\">プランごとの利用可能 API</h3>\n<p>契約プランごとにご利用可能な freee 会計 API は異なります。 freee 会計の Web 版でご利用いただける機能について、 freee 会計 API でもご利用いただけます。</p>\n<p>例えば法人スタータープラン、旧法人ベーシックプランをご契約いただいている場合、 Web 版では経費精算機能をご利用いただけますので、 API でも経費精算 API をご利用可能です。</p>\n<p>ただし以下の API は例外です。</p>\n<ul>\n  <li>総勘定元帳API：旧法人プロフェッショナルプラン、旧法人エンタープライズプラン、法人アドバンスプラン、新法人エンタープライズプランに加入している事業所のみがご利用可能です。</li>\n  <li>固定資産台帳API：旧法人エンタープライズプラン、新法人エンタープライズプランに加入している事業所のみがご利用可能です。</li>\n</ul>\n<p>詳しくは、<a href=\"https://support.freee.co.jp/hc/ja/articles/213726523--個人-freee会計のプランについて\" target=\"_blank\">【個人】freee会計のプランについて</a> 並びに <a href=\"https://support.freee.co.jp/hc/ja/articles/202849000--法人-freee会計のプランについて\" target=\"_blank\">【法人】freee会計のプランについて</a>をご確認ください。</p>\n\n<h3 id=\"available_parameters_by_plan\">プランごとの利用可能パラメータ</h3>\n<p>ご利用可能な freee 会計 API であっても、契約プランごとに利用可能なパラメータは異なります。</p>\n<table border=\"1\">\n  <thead>\n    <tr>\n      <th>パラメータ</th>\n      <th>説明</th>\n      <th>利用可能プラン</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>segment_1_tag</td>\n      <td>セグメント１タグ</td>\n      <td>法人アドバンスプラン<br />法人エンタープライズプラン<br />旧法人プロフェッショナルプラン</td>\n    </tr>\n    <tr>\n      <td>segment_2_tag</td>\n      <td>セグメント２タグ</td>\n      <td>法人アドバンスプラン<br />法人エンタープライズプラン</td>\n    </tr>\n    <tr>\n      <td>segment_3_tag</td>\n      <td>セグメント３タグ</td>\n      <td>法人アドバンスプラン<br />法人エンタープライズプラン</td>\n    </tr>\n    <tr>\n      <td>segment_1_tag_id</td>\n      <td>セグメント１タグID</td>\n      <td>法人アドバンスプラン<br />法人エンタープライズプラン<br />旧法人プロフェッショナルプラン</td>\n    </tr>\n    <tr>\n      <td>segment_2_tag_id</td>\n      <td>セグメント２タグID</td>\n      <td>法人アドバンスプラン<br />法人エンタープライズプラン</td>\n    </tr>\n    <tr>\n      <td>segment_3_tag_id</td>\n      <td>セグメント３タグID</td>\n      <td>法人アドバンスプラン<br />法人エンタープライズプラン</td>\n    </tr>\n    <tr>\n      <td>segment_1_tag_name</td>\n      <td>セグメント１タグ名</td>\n      <td>法人アドバンスプラン<br />法人エンタープライズプラン<br />旧法人プロフェッショナルプラン</td>\n    </tr>\n    <tr>\n      <td>segment_2_tag_name</td>\n      <td>セグメント２タグ名</td>\n      <td>法人アドバンスプラン<br />法人エンタープライズプラン</td>\n    </tr>\n    <tr>\n      <td>segment_3_tag_name</td>\n      <td>セグメント３タグ名</td>\n      <td>法人アドバンスプラン<br />法人エンタープライズプラン</td>\n    </tr>\n    <tr>\n      <td>segment_id</td>\n      <td>セグメントID（1, 2, 3 のいずれか）</td>\n      <td>法人アドバンスプラン<br />法人エンタープライズプラン<br />旧法人プロフェッショナルプラン<br />旧法人プロフェッショナルプランにつきましては、 1 のみ指定可能です。</td>\n    </tr>\n  </tbody>\n</table>\n\n<h3 id=\"webhook\">Webhookについて</h3>\n\n<p>詳細は<a href=\"https://developer.freee.co.jp/docs/accounting/webhook\" target=\"_blank\">会計Webhook概要</a>を参照してください。</p>\n\n<hr />\n<h2 id=\"contact\">連絡先</h2>\n\n<p>ご不明点、ご要望等は <a href=\"https://freee.my.site.com/HelpCenter/s\">freee サポートデスクへのお問い合わせフォーム</a> からご連絡ください。</p>\n<hr />&copy; Since 2013 freee K.K.",
    "version": "v1.0",
    "x-copyright": "&copy; Since 2013 freee K.K."
  },
  "servers": [
    {
      "url": "https://api.freee.co.jp"
    }
  ],
  "security": [
    {
      "oauth2": [
        "write",
        "read"
      ]
    }
  ],
  "tags": [
    {
      "name": "Partners",
      "description": "<p>取引先</p>"
    },
    {
      "name": "Selectables",
      "description": "<p>フォーム用選択項目情報</p>"
    },
    {
      "name": "Account items",
      "description": "<p>勘定科目</p>"
    },
    {
      "name": "Tags",
      "description": "<p>メモタグ</p>"
    },
    {
      "name": "Sections",
      "description": "<p>部門</p>"
    },
    {
      "name": "Invoices",
      "description": "<p>請求書</p>"
    },
    {
      "name": "Deals",
      "description": "<p>取引（収入・支出）</p>"
    },
    {
      "name": "Payments",
      "description": "<p>取引（収入・支出）の支払行</p>"
    },
    {
      "name": "Renews",
      "description": "<p>取引（収入・支出）の+更新</p>"
    },
    {
      "name": "ManualJournals",
      "description": "<p>振替伝票</p>"
    },
    {
      "name": "Users",
      "description": "<p>ユーザー</p>"
    },
    {
      "name": "Companies",
      "description": "<p>事業所</p>"
    },
    {
      "name": "Items",
      "description": "<p>品目</p>"
    },
    {
      "name": "Taxes",
      "description": "<p>税区分</p>"
    },
    {
      "name": "Walletables",
      "description": "<p>口座</p>"
    },
    {
      "name": "Banks",
      "description": "<p>連携サービス</p>"
    },
    {
      "name": "Transfers",
      "description": "<p>取引（振替）</p>"
    },
    {
      "name": "Wallet txns",
      "description": "<p>口座明細</p>"
    },
    {
      "name": "Journals",
      "description": "<p>仕訳帳</p>"
    },
    {
      "name": "Trial balance",
      "description": "<p>試算表</p>"
    },
    {
      "name": "Receipts",
      "description": "<p>ファイルボックス（証憑ファイル）</p>"
    },
    {
      "name": "Expense applications",
      "description": "<p>経費精算</p>"
    },
    {
      "name": "Expense application line templates",
      "description": "<p>経費科目</p>"
    },
    {
      "name": "Payment requests",
      "description": "<p>支払依頼</p>"
    },
    {
      "name": "Approval requests",
      "description": "<p>各種申請</p>"
    },
    {
      "name": "Approval flow routes",
      "description": "<p>申請経路</p>"
    },
    {
      "name": "Segment tags",
      "description": "<p>セグメントタグ</p>"
    },
    {
      "name": "Quotations",
      "description": "<p>見積書</p>"
    },
    {
      "name": "Fixed assets",
      "description": "<p>固定資産台帳</p>"
    },
    {
      "name": "General ledgers",
      "description": "<p>総勘定元帳</p>"
    },
    {
      "name": "Account groups",
      "description": "<p>決算書表示名</p>"
    }
  ],
  "paths": {
    "/api/1/partners": {
      "get": {
        "tags": [
          "Partners"
        ],
        "summary": "取引先一覧の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の取引先一覧を取得する</p>\n<ul>\n<li>振込元口座ID（payer_walletable_id）, 振込手数料負担（transfer_fee_handling_side）は法人スタータープラン（および旧法人プロフェッショナルプラン）以上で利用可能です。</li></ul>",
        "operationId": "get_partners",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "start_update_date",
            "in": "query",
            "description": "更新日で絞り込み：開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_update_date",
            "in": "query",
            "description": "更新日で絞り込み：終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "取得レコードのオフセット (デフォルト: 0)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854775807
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "取得レコードの件数 (デフォルト: 50, 最小: 1, 最大: 3000)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 3000
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "検索キーワード<br>\n取引先コード・取引先名・正式名称・カナ名称・ショートカットキー1・2のいずれかに対する部分一致。<br>\n以下のいずれかで区切って複数キーワードを指定した場合はAND検索となります。\n<ul>\n<li>半角スペース</li>\n<li>全角スペース</li>\n<li>タブ</li>\n</ul>\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partnersResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Partners"
        ],
        "summary": "取引先の作成",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の取引先を作成する</p>\n<ul>\n<li>取引先名称（name）は重複不可です。</li>\n<li>codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。</li>\n<li>取引先コードの利用を有効にしている場合は、\n  <ul>\n    <li>codeの指定は必須です。</li>\n    <li>name、codeそれぞれ重複不可です。</li>\n  </ul>\n</li>\n<li>振込元口座ID（payer_walletable_id）, 振込手数料負担（transfer_fee_handling_side）, 支払期日設定（payment_term_attributes）, 請求の入金期日設定（invoice_payment_term_attributes）は法人スタータープラン（および旧法人プロフェッショナルプラン）以上で利用可能です。</li></ul>",
        "operationId": "create_partner",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/partnerCreateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/partnerCreateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partnerResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/partners/{id}": {
      "get": {
        "tags": [
          "Partners"
        ],
        "summary": "取引先の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の取引先を取得する</p>\n<ul>\n<li>振込元口座ID（payer_walletable_id）, 振込手数料負担（transfer_fee_handling_side）, 支払期日設定（payment_term_attributes）, 請求の入金期日設定（invoice_payment_term_attributes）は法人スタータープラン（および旧法人プロフェッショナルプラン）以上で利用可能です。</li></ul>",
        "operationId": "get_partner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "取引先ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partnerResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Partners"
        ],
        "summary": "取引先の更新",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した取引先の情報を更新する</p>\n<ul>\n<li>取引先名称（name）は重複不可です。</li>\n<li>codeを指定、更新することはできません。</li>\n<li>振込元口座ID（payer_walletable_id）, 振込手数料負担（transfer_fee_handling_side）, 支払期日設定（payment_term_attributes）, 請求の入金期日設定（invoice_payment_term_attributes）は法人スタータープラン（および旧法人プロフェッショナルプラン）以上で利用可能です。</li>\n<li>支払期日設定（payment_term_attributes）, 請求の入金期日設定（invoice_payment_term_attributes）にnull型を入力することにより、期日を未設定に変更可能です。</li></ul>",
        "operationId": "update_partner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "取引先ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/partnerUpdateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/partnerUpdateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partnerResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Partners"
        ],
        "summary": "取引先の削除",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の取引先を削除する</p>",
        "operationId": "destroy_partner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "取引先ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/partners/code/{code}": {
      "put": {
        "tags": [
          "Partners"
        ],
        "summary": "取引先コードでの取引先の更新",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>取引先コードをキーに、指定した取引先の情報を更新する</p>\n<ul>\n<li>このAPIを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。</li>\n<li>コードを日本語に設定している場合は、URLエンコードしてURLに含めるようにしてください。</li>\n<li>取引先名称（name）は重複不可です。</li>\n<li>振込元口座ID（payer_walletable_id）, 振込手数料負担（transfer_fee_handling_side）, 支払期日設定（payment_term_attributes）, 請求の入金期日設定（invoice_payment_term_attributes）は法人スタータープラン（および旧法人プロフェッショナルプラン）以上で利用可能です。</li>\n<li>支払期日設定（payment_term_attributes）, 請求の入金期日設定（invoice_payment_term_attributes）にnull型を入力することにより、期日を未設定に変更可能です。</li></ul>",
        "operationId": "update_partner_by_code",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "取引先コード",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/partnerUpdateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/partnerUpdateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partnerResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/partners/upsert_by_code": {
      "put": {
        "tags": [
          "Partners"
        ],
        "summary": "取引先の更新（存在しない場合は作成）",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>取引先コードをキーに、指定した取引先の情報を更新（存在しない場合は作成）する</p>\n<ul>\n<li>このAPIを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。</li>\n<li>取引先名称（name）は重複不可です。</li>\n<li>振込元口座ID（payer_walletable_id）, 振込手数料負担（transfer_fee_handling_side）, 支払期日設定（payment_term_attributes）, 請求の入金期日設定（invoice_payment_term_attributes）は法人スタータープラン（および旧法人プロフェッショナルプラン）以上で利用可能です。</li>\n<li>支払期日設定（payment_term_attributes）, 請求の入金期日設定（invoice_payment_term_attributes）にnull型を入力することにより、期日を未設定に変更可能です。</li></ul>",
        "operationId": "api/v1/partners#upsert_by_code",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "code",
                  "company_id",
                  "partner"
                ],
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "取引先コード",
                    "example": "code001"
                  },
                  "company_id": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 1,
                    "description": "事業所ID",
                    "example": 1
                  },
                  "partner": {
                    "type": "object",
                    "required": [
                      "name"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "取引先名 (255文字以内、重複不可)",
                        "example": "新しい取引先"
                      },
                      "available": {
                        "type": "boolean",
                        "description": "true: 使用可能、false: 使用停止",
                        "example": false
                      },
                      "shortcut1": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "ショートカット１ (255文字以内)",
                        "example": "NEWPARTNER"
                      },
                      "shortcut2": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "ショートカット２ (255文字以内)",
                        "example": "502"
                      },
                      "org_code": {
                        "type": "integer",
                        "format": "int64",
                        "description": "事業所種別（null: 未設定、1: 法人、2: 個人）",
                        "example": 1,
                        "enum": [
                          1,
                          2
                        ],
                        "nullable": true
                      },
                      "country_code": {
                        "type": "string",
                        "description": "地域（JP: 国内、ZZ:国外）、指定しない場合JPになります。",
                        "example": "JP",
                        "enum": [
                          "JP",
                          "ZZ"
                        ]
                      },
                      "long_name": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "正式名称（255文字以内）",
                        "example": "新しい取引先正式名称"
                      },
                      "name_kana": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "カナ名称（255文字以内）",
                        "example": "アタラシイトリヒキサキメイショウ"
                      },
                      "default_title": {
                        "type": "string",
                        "description": "敬称（御中、様、(空白)の3つから選択）",
                        "example": "御中"
                      },
                      "phone": {
                        "type": "string",
                        "description": "電話番号",
                        "example": "03-1234-xxxx"
                      },
                      "contact_name": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "担当者 氏名 (255文字以内)",
                        "example": "営業担当"
                      },
                      "email": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "担当者 メールアドレス (255文字以内)",
                        "example": "contact@example.com"
                      },
                      "payer_walletable_id": {
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1,
                        "description": "振込元口座ID（一括振込ファイル用）:（walletableのtypeが'bank_account'のidのみ指定できます。また、未設定にする場合は、nullを指定してください。）",
                        "example": 1,
                        "nullable": true
                      },
                      "transfer_fee_handling_side": {
                        "type": "string",
                        "description": "振込手数料負担（一括振込ファイル用）: (振込元(当方): payer, 振込先(先方): payee)、指定しない場合payerになります。",
                        "example": "payer",
                        "enum": [
                          "payer",
                          "payee"
                        ]
                      },
                      "qualified_invoice_issuer": {
                        "type": "boolean",
                        "description": "インボイス制度適格請求書発行事業者（true: 対象事業者、false: 非対象事業者）\n<a target=\"_blank\" href=\"https://www.invoice-kohyo.nta.go.jp/index.html\">国税庁インボイス制度適格請求書発行事業者公表サイト</a>\n",
                        "example": false
                      },
                      "invoice_registration_number": {
                        "type": "string",
                        "maxLength": 14,
                        "minLength": 13,
                        "pattern": "^T?[1-9][0-9]{12}$",
                        "description": "インボイス制度適格請求書発行事業者登録番号\n- 先頭T数字13桁の固定14桁の文字列\n<a target=\"_blank\" href=\"https://www.invoice-kohyo.nta.go.jp/index.html\">国税庁インボイス制度適格請求書発行事業者公表サイト</a>\n",
                        "example": "T1000000000001",
                        "nullable": true
                      },
                      "address_attributes": {
                        "type": "object",
                        "properties": {
                          "zipcode": {
                            "type": "string",
                            "maxLength": 8,
                            "description": "郵便番号（8文字以内）",
                            "example": "000-0000"
                          },
                          "prefecture_code": {
                            "type": "integer",
                            "format": "int64",
                            "minimum": -1,
                            "maximum": 46,
                            "description": "都道府県コード（-1: 設定しない、0: 北海道、1:青森、2:岩手、3:宮城、4:秋田、5:山形、6:福島、7:茨城、8:栃木、9:群馬、10:埼玉、11:千葉、12:東京、13:神奈川、14:新潟、15:富山、16:石川、17:福井、18:山梨、19:長野、20:岐阜、21:静岡、22:愛知、23:三重、24:滋賀、25:京都、26:大阪、27:兵庫、28:奈良、29:和歌山、30:鳥取、31:島根、32:岡山、33:広島、34:山口、35:徳島、36:香川、37:愛媛、38:高知、39:福岡、40:佐賀、41:長崎、42:熊本、43:大分、44:宮崎、45:鹿児島、46:沖縄",
                            "example": 4
                          },
                          "street_name1": {
                            "type": "string",
                            "maxLength": 255,
                            "description": "市区町村・番地（255文字以内）",
                            "example": "ＸＸ区ＹＹ１−１−１"
                          },
                          "street_name2": {
                            "type": "string",
                            "maxLength": 255,
                            "description": "建物名・部屋番号など（255文字以内）",
                            "example": "ビル１Ｆ"
                          }
                        }
                      },
                      "partner_doc_setting_attributes": {
                        "type": "object",
                        "properties": {
                          "sending_method": {
                            "type": "string",
                            "description": "請求書送付方法(email:メール、posting:郵送、email_and_posting:メールと郵送、null:設定しない)",
                            "example": "posting",
                            "enum": [
                              "email",
                              "posting",
                              "email_and_posting"
                            ],
                            "nullable": true
                          }
                        }
                      },
                      "partner_bank_account_attributes": {
                        "type": "object",
                        "properties": {
                          "bank_name": {
                            "type": "string",
                            "description": "銀行名",
                            "example": "freee銀行"
                          },
                          "bank_name_kana": {
                            "type": "string",
                            "description": "銀行名（カナ）",
                            "example": "フリーギンコウ"
                          },
                          "bank_code": {
                            "type": "string",
                            "description": "銀行コード",
                            "example": "0001"
                          },
                          "branch_name": {
                            "type": "string",
                            "description": "支店名",
                            "example": "銀座支店"
                          },
                          "branch_kana": {
                            "type": "string",
                            "description": "支店名（カナ）",
                            "example": "ギンザシテン"
                          },
                          "branch_code": {
                            "type": "string",
                            "description": "支店番号",
                            "example": "101"
                          },
                          "account_type": {
                            "type": "string",
                            "description": "口座種別(ordinary:普通、checking：当座、earmarked：納税準備預金、savings：貯蓄、other:その他)、指定しない場合ordinaryになります。",
                            "example": "ordinary",
                            "enum": [
                              "ordinary",
                              "checking",
                              "earmarked",
                              "savings",
                              "other"
                            ]
                          },
                          "account_number": {
                            "type": "string",
                            "description": "口座番号",
                            "example": "1010101"
                          },
                          "long_account_name": {
                            "type": "string",
                            "description": "受取人名",
                            "example": "freee太郎"
                          },
                          "account_name": {
                            "type": "string",
                            "description": "受取人名（カナ）",
                            "example": "フリータロウ"
                          }
                        }
                      },
                      "payment_term_attributes": {
                        "type": "object",
                        "properties": {
                          "cutoff_day": {
                            "type": "integer",
                            "format": "int64",
                            "minimum": 1,
                            "maximum": 32,
                            "description": "締め日（29, 30, 31日の末日を指定する場合は、32を指定してください。）",
                            "example": 15
                          },
                          "additional_months": {
                            "type": "integer",
                            "format": "int64",
                            "minimum": 0,
                            "maximum": 6,
                            "description": "支払月（当月を指定する場合は、0を指定してください。）",
                            "example": 1
                          },
                          "fixed_day": {
                            "type": "integer",
                            "format": "int64",
                            "minimum": 1,
                            "maximum": 32,
                            "description": "支払日（29, 30, 31日の末日を指定する場合は、32を指定してください。）",
                            "example": 32
                          }
                        },
                        "nullable": true
                      },
                      "invoice_payment_term_attributes": {
                        "type": "object",
                        "properties": {
                          "cutoff_day": {
                            "type": "integer",
                            "format": "int64",
                            "minimum": 1,
                            "maximum": 32,
                            "description": "締め日（29, 30, 31日の末日を指定する場合は、32を指定してください。）",
                            "example": 15
                          },
                          "additional_months": {
                            "type": "integer",
                            "format": "int64",
                            "minimum": 0,
                            "maximum": 6,
                            "description": "入金月（当月を指定する場合は、0を指定してください。）",
                            "example": 1
                          },
                          "fixed_day": {
                            "type": "integer",
                            "format": "int64",
                            "minimum": 1,
                            "maximum": 32,
                            "description": "入金日（29, 30, 31日の末日を指定する場合は、32を指定してください。）",
                            "example": 32
                          }
                        },
                        "nullable": true
                      }
                    }
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/paths/~1api~11~1partners~1upsert_by_code/put/requestBody/content/application~1json/schema"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partnerResponse"
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partnerResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/forms/selectables": {
      "get": {
        "tags": [
          "Selectables"
        ],
        "summary": "フォーム用選択項目情報の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所のフォーム用選択項目情報を取得する</p>",
        "operationId": "get_forms_selectables",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "取得する項目(項目: account_item)",
            "schema": {
              "type": "string",
              "enum": [
                "account_item"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/selectablesIndexResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/account_items/{id}": {
      "get": {
        "tags": [
          "Account items"
        ],
        "summary": "勘定科目の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した勘定科目を取得する</p>\n<p>事業所の設定で勘定科目コードを使用する設定にしている場合、レスポンスで勘定科目コード(code)を返します</p>",
        "operationId": "get_account_item",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "勘定科目ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Account items"
        ],
        "summary": "勘定科目の更新",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した勘定科目を更新する</p>\n\n<h2 id=\"_2\">注意点</h2>\n<p>tax_codeは、指定した事業所の税区分一覧の取得APIでavailableの値がtrue、かつ経過措置税区分ではない5%の税区分を確認して、そのcodeを指定して勘定科目の更新をしてください。例 課対仕入の場合、34を指定してください</p>\n<p>codeを利用するには、事業所の設定で勘定科目コードを使用する設定にする必要があります。</p>",
        "operationId": "update_account_item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "勘定科目ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/accountItemUpdateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/accountItemUpdateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serviceUnavailableError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Account items"
        ],
        "summary": "勘定科目の削除",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した勘定科目を削除する</p>\n<h2 id=\"\">注意点</h2>\n<ul>\n  <li>削除できる勘定科目は、追加で作成したカスタム勘定科目のみです。</li>\n  <li>デフォルトで存在する勘定科目や口座の勘定科目は削除できません。</li>\n</ul>",
        "operationId": "destroy_account_item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "勘定科目ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/account_items": {
      "get": {
        "tags": [
          "Account items"
        ],
        "summary": "勘定科目一覧の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の勘定科目一覧を取得する</p>\n\n<h2 id=\"_2\">定義</h2>\n\n<ul>\n<li>default_tax_code : リクエストした日時を基準とした税区分コード</li>\n</ul>\n\n<h2 id=\"_3\">注意点</h2>\n<p>default_tax_code は勘定科目作成・更新時に利用するものではありません</p>\n<p>事業所の設定で勘定科目コードを使用する設定にしている場合、レスポンスで勘定科目コード(code)を返します</p>",
        "operationId": "get_account_items",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "base_date",
            "in": "query",
            "description": "基準日:指定した場合、勘定科目に紐づく税区分(default_tax_code)が、基準日の税率に基づいて返ります。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_update_date",
            "in": "query",
            "description": "更新日で絞込：開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_update_date",
            "in": "query",
            "description": "更新日で絞込：終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountItemsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Account items"
        ],
        "summary": "勘定科目の作成",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の勘定科目を作成する</p>\n\n<h2 id=\"_2\">注意点</h2>\n<p>tax_codeは、指定した事業所の税区分一覧の取得APIでavailableの値がtrue、かつ経過措置税区分ではない5%の税区分を確認して、そのcodeを指定して勘定科目の作成をしてください。例 課対仕入の場合、34を指定してください</p>\n<p>codeを利用するには、事業所の設定で勘定科目コードを使用する設定にする必要があります。</p>",
        "operationId": "create_account_item",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/accountItemCreateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/accountItemCreateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/account_items/code/upsert": {
      "put": {
        "tags": [
          "Account items"
        ],
        "summary": "勘定科目の更新（存在しない場合は作成）",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>勘定科目コードをキーに、指定した勘定科目の情報を更新（存在しない場合は作成）する</p>\n\n<h2 id=\"_2\">注意点</h2>\n<p>tax_codeは、指定した事業所の税区分一覧の取得APIでavailableの値がtrue、かつ経過措置税区分ではない5%の税区分を確認して、そのcodeを指定して勘定科目の更新をしてください。例 課対仕入の場合、34を指定してください</p>\n<p>codeを利用するには、事業所の設定で勘定科目コードを使用する設定にする必要があります。</p>",
        "operationId": "api/v1/account_items#upsert_by_code",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code",
                  "company_id",
                  "account_item"
                ],
                "properties": {
                  "code": {
                    "type": "string",
                    "maxLength": 20,
                    "description": "勘定科目コード",
                    "example": "999",
                    "pattern": "^[0-9a-zA-Z_-]+$"
                  },
                  "company_id": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 1,
                    "description": "事業所ID",
                    "example": 1
                  },
                  "account_item": {
                    "type": "object",
                    "required": [
                      "account_category_id",
                      "corresponding_expense_id",
                      "corresponding_income_id",
                      "group_name",
                      "tax_code"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "maxLength": 30,
                        "description": "勘定科目名 (30文字以内)\n口座に紐付かない勘定科目の更新時は必須です。\n口座に紐付く勘定科目の更新時は指定することができません。\n",
                        "example": "新しい勘定科目"
                      },
                      "shortcut": {
                        "type": "string",
                        "maxLength": 20,
                        "description": "ショートカット1 (20文字以内)",
                        "example": "NEWACCOUNTITEM"
                      },
                      "shortcut_num": {
                        "type": "string",
                        "maxLength": 20,
                        "description": "ショートカット2 (20文字以内)",
                        "example": "999"
                      },
                      "tax_code": {
                        "type": "integer",
                        "format": "int64",
                        "minimum": 0,
                        "maximum": 2147483647,
                        "description": "税区分コード 指定できるコードは本APIの注意点をご確認ください。",
                        "example": 1
                      },
                      "group_name": {
                        "type": "string",
                        "description": "決算書表示名（小カテゴリー） Selectablesフォーム用選択項目情報エンドポイント(account_groups.name)で取得可能です",
                        "example": "その他預金"
                      },
                      "account_category_id": {
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1,
                        "description": "勘定科目カテゴリーID Selectablesフォーム用選択項目情報エンドポイント(account_groups.account_category_id)で取得可能です",
                        "example": 1
                      },
                      "corresponding_income_id": {
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1,
                        "description": "収入取引相手勘定科目ID",
                        "example": 1
                      },
                      "corresponding_expense_id": {
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1,
                        "description": "支出取引相手勘定科目ID",
                        "example": 1
                      },
                      "accumulated_dep_account_item_id": {
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1,
                        "description": "減価償却累計額勘定科目ID（法人のみ利用可能）",
                        "example": 1
                      },
                      "searchable": {
                        "type": "integer",
                        "format": "int64",
                        "minimum": 2,
                        "maximum": 3,
                        "description": "検索可能:2, 検索不可：3(登録時未指定の場合は2で登録されます。更新時未指定の場合はsearchableは変更されません。)",
                        "example": 2
                      },
                      "items": {
                        "type": "array",
                        "description": "品目",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int64",
                              "minimum": 1,
                              "example": 1
                            }
                          }
                        }
                      },
                      "partners": {
                        "type": "array",
                        "description": "取引先",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int64",
                              "minimum": 1,
                              "example": 1
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/paths/~1api~11~1account_items~1code~1upsert/put/requestBody/content/application~1json/schema"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountItemResponse"
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serviceUnavailableError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "メモタグ一覧の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所のメモタグ一覧を取得する</p>",
        "operationId": "get_tags",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "start_update_date",
            "in": "query",
            "description": "更新日で絞り込み：開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_update_date",
            "in": "query",
            "description": "更新日で絞り込み：終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "取得レコードのオフセット (デフォルト: 0)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 2147483647
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "取得レコードの件数 (デフォルト: 50, 最小: 1, 最大: 3000)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 3000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "tags"
                  ],
                  "properties": {
                    "tags": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/tag"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "メモタグの作成",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所のメモタグを作成する</p>",
        "operationId": "create_tag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tagParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/tagParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tagResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/tags/{id}": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "メモタグの取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所のメモタグを取得する</p>",
        "operationId": "get_tag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "タグID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tagResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Tags"
        ],
        "summary": "メモタグの更新",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所のメモタグを更新する</p>",
        "operationId": "update_tag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "メモタグID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tagParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/tagParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tagResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tags"
        ],
        "summary": "メモタグの削除",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所のメモタグを削除する</p>",
        "operationId": "destroy_tag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "タグID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/sections": {
      "get": {
        "tags": [
          "Sections"
        ],
        "summary": "部門一覧の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の部門一覧を取得する</p>\n<p>事業所の設定で部門コードを使用する設定にしている場合、レスポンスで部門コード(code)を返します</p>\n\n<h2 id=\"_2\">レスポンスの例</h2>\n\n<blockquote>\n<p>GET https://api.freee.co.jp/api/1/sections?company_id=1</p>\n</blockquote>\n\n<pre><code>// プレミアムプラン、法人スタンダードプラン（および旧法人ベーシックプラン）以上\n{\n  &quot;sections&quot; : [\n    {\n      &quot;id&quot; : 101,\n      &quot;company_id&quot; : 1,\n      &quot;name&quot; : &quot;開発部門&quot;,\n      &quot;long_name&quot;: &quot;開発部門&quot;,\n      &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,\n      &quot;shortcut2&quot; : &quot;123&quot;,\n      &quot;indent_count&quot;: 1,\n      &quot;parent_id&quot;: 11\n    },\n    ...\n  ]\n}\n// それ以外のプラン\n{\n  &quot;sections&quot; : [\n    {\n      &quot;id&quot; : 101,\n      &quot;company_id&quot; : 1,\n      &quot;name&quot; : &quot;開発部門&quot;,\n      &quot;long_name&quot;: &quot;開発部門&quot;,\n      &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,\n      &quot;shortcut2&quot; : &quot;123&quot;\n    },\n    ...\n  ]\n}</code></pre>\n",
        "operationId": "get_sections",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "start_update_date",
            "in": "query",
            "description": "更新日で絞込：開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_update_date",
            "in": "query",
            "description": "更新日で絞込：終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "sections"
                  ],
                  "properties": {
                    "sections": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/section"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Sections"
        ],
        "summary": "部門の作成",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の部門を作成する</p>\n<p>codeを利用するには、事業所の設定で部門コードを使用する設定にする必要があります。</p>\n\n<h2 id=\"_2\">レスポンスの例</h2>\n\n<pre><code>// プレミアムプラン、法人スタンダードプラン（および旧法人ベーシックプラン）以上\n{\n  &quot;section&quot; : {\n    &quot;id&quot; : 102,\n    &quot;company_id&quot; : 1,\n    &quot;name&quot; : &quot;開発部門&quot;,\n    &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,\n    &quot;shortcut2&quot; : &quot;123&quot;,\n    &quot;indent_count&quot;: 1,\n    &quot;parent_id&quot;: 101\n  }\n}\n// それ以外のプラン\n{\n  &quot;section&quot; : {\n    &quot;id&quot; : 102,\n    &quot;company_id&quot; : 1,\n    &quot;name&quot; : &quot;開発部門&quot;,\n    &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,\n    &quot;shortcut2&quot; : &quot;123&quot;\n  }\n}</code></pre>\n",
        "operationId": "create_section",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sectionParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/sectionParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/sections/{id}": {
      "get": {
        "tags": [
          "Sections"
        ],
        "summary": "部門の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の部門を取得する</p>\n<p>事業所の設定で部門コードを使用する設定にしている場合、レスポンスで部門コード(code)を返します</p>\n\n<h2 id=\"_2\">レスポンスの例</h2>\n\n<pre><code>// プレミアムプラン、法人スタンダードプラン（および旧法人ベーシックプラン）以上\n{\n  &quot;section&quot; : {\n    &quot;id&quot; : 102,\n    &quot;company_id&quot; : 1,\n    &quot;name&quot; : &quot;開発部門&quot;,\n    &quot;long_name&quot;: &quot;開発部門&quot;,\n    &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,\n    &quot;shortcut2&quot; : &quot;123&quot;,\n    &quot;indent_count&quot;: 1,\n    &quot;parent_id&quot;: 101\n  }\n}\n// それ以外のプラン\n{\n  &quot;section&quot; : {\n    &quot;id&quot; : 102,\n    &quot;company_id&quot; : 1,\n    &quot;name&quot; : &quot;開発部門&quot;,\n    &quot;long_name&quot;: &quot;開発部門&quot;,\n    &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,\n    &quot;shortcut2&quot; : &quot;123&quot;\n  }\n}</code></pre>\n",
        "operationId": "get_section",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "部門ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Sections"
        ],
        "summary": "部門の更新",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の部門を更新する</p>\n<p>codeを利用するには、事業所の設定で部門コードを使用する設定にする必要があります。</p>\n\n<h2 id=\"_2\">レスポンスの例</h2>\n\n<pre><code>// プレミアムプラン、法人スタンダードプラン（および旧法人ベーシックプラン）以上\n{\n  &quot;section&quot; : {\n    &quot;id&quot; : 102,\n    &quot;company_id&quot; : 1,\n    &quot;name&quot; : &quot;開発部門&quot;,\n    &quot;long_name&quot;: &quot;開発部門&quot;,\n    &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,\n    &quot;shortcut2&quot; : &quot;123&quot;,\n    &quot;indent_count&quot;: 1,\n    &quot;parent_id&quot;: 101\n  }\n}\n// それ以外のプラン\n{\n  &quot;section&quot; : {\n    &quot;id&quot; : 102,\n    &quot;company_id&quot; : 1,\n    &quot;name&quot; : &quot;開発部門&quot;,\n    &quot;long_name&quot;: &quot;開発部門&quot;,\n    &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,\n    &quot;shortcut2&quot; : &quot;123&quot;\n  }\n}</code></pre>\n",
        "operationId": "update_section",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sectionParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/sectionParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Sections"
        ],
        "summary": "部門の削除",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の部門を削除する</p>",
        "operationId": "destroy_section",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/sections/code/upsert": {
      "put": {
        "tags": [
          "Sections"
        ],
        "summary": "部門の更新（存在しない場合は作成）",
        "description": "<h2 id=\"\">概要</h2>\n<p>部門コードをキーに、指定した部門の情報を更新（存在しない場合は作成）する</p>\n<h2 id=\"_1\">注意点</h2>\n<p>codeを利用するには、事業所の設定で部門コードを使用する設定にする必要があります。</p>",
        "operationId": "api/v1/sections#upsert_by_code",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "company_id",
                  "code",
                  "section"
                ],
                "properties": {
                  "company_id": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 1,
                    "description": "事業所ID",
                    "example": 1
                  },
                  "code": {
                    "type": "string",
                    "maxLength": 20,
                    "description": "部門コード",
                    "example": "code001",
                    "pattern": "^[0-9a-zA-Z_-]+$"
                  },
                  "section": {
                    "type": "object",
                    "required": [
                      "name"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "maxLength": 30,
                        "description": "部門名 (30文字以内)",
                        "example": "開発部門"
                      },
                      "long_name": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "正式名称 (255文字以内)",
                        "example": "xxxx開発部門"
                      },
                      "shortcut1": {
                        "type": "string",
                        "maxLength": 20,
                        "description": "ショートカット１ (20文字以内)",
                        "example": "DEVELOPER"
                      },
                      "shortcut2": {
                        "type": "string",
                        "maxLength": 20,
                        "description": "ショートカット２ (20文字以内)",
                        "example": "123"
                      },
                      "parent_code": {
                        "type": "string",
                        "maxLength": 20,
                        "description": "親部門コード。親部門コードの値が空の場合は、codeで指定した部門が親部門になる。",
                        "example": "code001",
                        "pattern": "^[0-9a-zA-Z_-]+$"
                      }
                    }
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/paths/~1api~11~1sections~1code~1upsert/put/requestBody/content/application~1json/schema"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sectionResponse"
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "請求書一覧の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の請求書一覧を取得する</p>\n",
        "operationId": "get_invoices",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "partner_id",
            "in": "query",
            "description": "取引先IDで絞込",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "partner_code",
            "in": "query",
            "description": "取引先コードで絞込",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_issue_date",
            "in": "query",
            "description": "請求日の開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_issue_date",
            "in": "query",
            "description": "請求日の終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_due_date",
            "in": "query",
            "description": "期日の開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_due_date",
            "in": "query",
            "description": "期日の終了日(yyyy-mm-dd)",
[...]
